{% extends 'base.html' %}
{% block content %}

<h1>{{ story.title }}</h1>

<div class="card brown lighten-5">
  <div class="card-content">
    <img class="pop-out" src="{{ story.cover }}">
    <p>Author: {{ story.author }}</p>
    <p>Synopsis: {{ story.synopsis }}</p>
    <p>Genre: {{ story.get_genre_display }}</p>
    <p>Date: {{ story.date }}</p>
    <pre style="text-align: left;">Content: {{ story.content }}</pre>
    
  </div>
  <div class="card-action">
    {% if story.user.id == user.id %}
      <a href="{% url 'stories_update' story.id %}"><i class="material-icons small">edit</i></a>
      <a href="{% url 'stories_delete' story.id %}"><i class="material-icons small">delete</i></a>
      <a class="right" href="{% url 'user_index' %}"><i class="material-icons small">more_horiz</i></a>
    {% else %}
      <a class="right" href="{% url 'author_index' story.id %}"><i class="material-icons">more_horiz</i></a>
    {% endif %}
  
{% if fav %}
  <form action="{% url 'remove_favorite' story.id %}" method="POST">
    {% csrf_token %}
    <button class="remove-fav" type="submit"><i class="material-icons small">remove_circle</i></button>
  </form>
{% else %}
  <form action="{% url 'add_favorite' story.id %}" method="POST">
    {% csrf_token %}
    <button class="favorite-add-remove" type="submit"><i class="material-icons small">favorite</i></button>
  </form>
{% endif %}
</div>
</div>
<br>
<br>
<br>
<div class="card-panel brown lighten-5">
  <form class="reviews" method="post" action="{% url 'add_review' story.id %}">
    {% csrf_token %}
    {{ review_form.as_p }}
    <button class="right" type="submit"><i class="material-icons">rate_review</i></button>
  </form>
</div>
<br>
<br>
{% if story.review_set.count %}
  <table>
    <thead>
      <tr>
        <th>Reviews</th>
        <th>Rating</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for review in story.review_set.all %}
        <tr>
          <td>{{review.content}}</td>
          <td>{{review.rating}}</td>
          <td>{{review.created}}</td>
          <td>
            {% if review.user_id == user.id %}
              <form action="{% url 'update_review' story.id review.id %}" method="POST">
                {% csrf_token %}
                <button type="submit"><i class="material-icons">edit</i></button>
              </form>
              <form action="{% url 'delete_review' story.id review.id %}" method="POST">
                {% csrf_token %}
                <button type="submit"><i class="material-icons">delete</i></button>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h4>No Reviews Yet</h4>  
{% endif %}  

<script>
    const selectEl = document.getElementById('id_rating');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}