{% extends 'base.html' %}
{% block content %}

  <h1>All Stories</h1>
  <div class="container-index">
    {% for s in stories %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <a href="/stories/{{ s.id }}">
            <h4>{{ s.title }}</h4>
          </a>
        </span>
        <img src="{{ s.cover }}">
        <p>Author: {{ s.author }}</p>
        <p>Synopsis: {{ s.synopsis }}</p>
        <p>Genre: {{ s.get_genre_display }}</p>
        <p>Date: {{ s.date }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <script>
    const selectEl = document.getElementById('id_genre');
    M.FormSelect.init(selectEl);
  </script>

  {% endblock %}