{% extends 'base.html' %}
{% block content %}

  <h1>All Stories</h1>
  <div class="container-index">
    {% for s in stories %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <a href="/stories/{{ s.id }}">
            <h4>{{ s.title }}</h4>
          </a>
        </span>
        <img src="{{ s.cover }}">
        <p>Author: {{ s.author }}</p>
        <p><button id="button" onclick="reveal()">></button> Synopsis:</p>
        <p style="display: none;" id="synopsis">{{ s.synopsis }}</p>
        <p>Genre: {{ s.get_genre_display }}</p>
        <p>Date: {{ s.date }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <script>
    function reveal() {
      let button = document.getElementById('button')
      let synopsis = document.getElementById('synopsis');
      if (synopsis.style.display === "none") {
        button.innerText = "V"
        synopsis.style.display = "block";
      } else {
        button.innerText = ">"
        synopsis.style.display = "none";
      }
    }

    const selectEl = document.getElementById('id_genre');
    M.FormSelect.init(selectEl);
  </script>

  {% endblock %}