{% extends "base.html" %}
{% block content %}

  <h1>Welcome to ShortLit!</h1> 
  <h5>This is a place to share and provide feedback on short literary works: stories, poems, haikus… whatever you want! If you have stories, poetry, essays, or any other writing you'd like to share with others, feel free to create an account and publish your works!</h5>
  <h5> We have an increasing number of works from some really great aspiring authors, so scroll through the stories, and save your favorites. That way, the next time you log on, you can see if there are new works from your favorite authors.</h5>
  
{% endblock %}