body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(242, 233, 221);
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  padding-bottom: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  margin: 0 20vw;
}
.card-content > img {
  max-width: 35vh;
  min-width: 28vh;
  margin: 20px 0;
}

footer.page-footer {
  padding-top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: #89181a;
}

nav {
  background-color: rgba(253, 251, 251, 0.9);
  position: fixed;
  top: 0;
  z-index: 1;
}

.btn {
  margin: 20px 0;
  float: right;
  background-color: #89181a;
}

h1 {
  text-align: center;
  color: #89181a;
  padding-top: 50px;
}
h2,
h3 {
  color: #89181a;
  padding-top: 0px;
}

.sidenav li > a {
  color: #89181a;
  font-weight: 900;
  font-size: 16px;
}

a,
i.material-icons {
  color: #89181a;
}

a:hover {
  color: darkgrey;
}

.right {
  color: rgb(242, 233, 221);
}

nav ul a {
  color: #89181a;
  font-weight: 900;
}

img.logo {
  width: auto;
  height: 40px;
  margin: 10px 0 10px 10px;
}
.logo:hover {
  background-color: transparent;
}

p {
  font-size: 16.5px;
  padding: 5px 20px;
  text-align: left;
}

.container-index {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(24rem, 1fr));
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  width: 110%;
  margin: 20px;
}
.card-action {
  filter: drop-shadow(0px 2px 3px rgba(100, 100, 100, 0.3));
  
}

.favorite-form {
  display: inline;
}

.card,
.card-content {
  min-width: 40vh;
  max-height: 40vh;
  min-height: 45vh;
  max-width: 70vh;
  background-color: (252, 250, 248);
}

pre {
  text-align: left;
  white-space: pre-wrap;
}

.card {
  margin-bottom: 50px;
}

.card-content {
  overflow: auto;
  text-align: center;
}

h4 {
  margin-top: 0px;
  font-size: 5vmin;
}

.book-info > h4 > button {
  border: none;
  background: none;
}

.book-info p:nth-child(5) {
  display: none;
}

.pop-out {
  transition: transform 0.7s;
}

.pop-out:hover {
  -ms-transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2);
}

button {
  border: none;
  background-color: transparent;
}
button:hover {
  background-color: lightgrey;
}
form {
  text-align: center;
}
.reviews {
  min-width: 70vmin;
  padding: 5px;
}
#id_content,
label,
#id_rating > option {
  color: #89181a;
}
textarea#id_content {
  height: 10rem;
}
textarea#id_synopsis{
  height: 5rem;
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid black;
}
table {
  max-width: 75vw;
}
td {
  max-width: 20vw;
}
.reviews > button > i {
  font-size: 3.25rem;
}
.left {
  margin: 0 20px;
}
@media only screen and (max-width: 900px) {
  .container-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card,
  .card-content {
    min-width: 43vh;
    min-height: 43vh;
    max-width: 50vh;
    max-height: 50vh;
  }
  img.logo {
    height: 30px;
    padding-top: 5px;
  }
  img.home-logo {
    height: 225px;
  }
  .home-logo-phrase {
    font-size: 32px;
  }
  .card-content > img {
    max-width: 25vh;
    min-width: 20vh;
    width: 35vh;
  }
}
