body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(242, 233, 221);
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  padding-bottom: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-content > img {
  width: 175px;
  margin: 20px 0;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  position: absolute;
  background-color: rgb(242, 233, 221);
  bottom: 0;
}

nav {
  background-color: rgba(253, 251, 251, 0.7);
}

.btn {
  margin: 20px 0;
  float: right;
  background-color: #89181a;
}

h1 {
  text-align: center;
  color: #89181a;
}

a {
  color: #89181a;
}
a:hover {
  color: darkgrey;
}
.right {
  color: #89181a;
}

nav ul a {
  color: #89181a;
  font-weight: 900;
}

img.logo {
  width: auto;
  height: 50px;
  margin: 5px 0 5px 15px;
}
.logo:hover {
  background-color: transparent;
}

p {
  font-size: 16.5px;
  padding: 5px 20px;
  text-align: left;
}

.container-index {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  justify-content: center;
  column-gap: 30px;
  width: 100%;
  margin: 20px;
}

.card,
.card-content {
  height: 50vmin;
  width: 40vmin;
}
.card {
  margin-bottom: 50px;
}

.card-content {
  overflow: auto;
  text-align: center;
}

h4 {
  margin-top: 0px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .container-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card,
  .card-content {
    width: 35vmin;
    height: 40vmin;
  }
}

.pop-out {
  transition: transform .7s;
}

.pop-out:hover {
   -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
     transform: scale(2, 2);
 }